In [2]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.sample(10)

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
1549,1549,50,RM,6240,Inside,1Fam,5,1930,1950,MetalSd,0.0,928.0,NaN
218,218,50,RL,15660,Corner,1Fam,9,1939,2006,VinylSd,0.0,798.0,311500.0
520,520,190,RL,10800,Inside,2fmCon,7,1900,2000,MetalSd,0.0,0.0,106250.0
2431,2431,20,RL,7500,Inside,1Fam,7,1959,2003,BrkFace,0.0,1040.0,NaN
1708,1708,20,FV,12606,Inside,1Fam,5,2007,2008,VinylSd,0.0,1530.0,NaN
993,993,60,RL,8846,Inside,1Fam,5,2005,2006,VinylSd,0.0,750.0,173900.0
2808,2808,80,RL,10366,Corner,1Fam,7,1964,1964,HdBoard,0.0,912.0,NaN
2100,2100,190,RM,9142,Inside,2fmCon,5,1900,2006,MetalSd,0.0,797.0,NaN
1754,1754,85,RL,16500,Inside,1Fam,5,1971,1971,HdBoard,0.0,1232.0,NaN
642,642,80,RL,13860,Inside,1Fam,7,1972,1995,Plywood,0.0,1952.0,345000.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [6]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [7]:
df.sample(10)

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
87,87,160,FV,3951,Corner,TwnhsE,5,2009,2009,VinylSd,0.0,612.0,164500.0
382,382,60,RL,9245,Inside,1Fam,5,2006,2006,VinylSd,0.0,939.0,213500.0
1882,1882,60,RL,8749,Inside,1Fam,5,2002,2002,VinylSd,0.0,840.0,NaN
739,739,60,RL,9313,Inside,1Fam,5,2004,2004,VinylSd,0.0,864.0,190000.0
109,109,20,RL,11751,Inside,1Fam,6,1977,1977,Plywood,0.0,1844.0,190000.0
1282,1282,20,RL,8800,Inside,1Fam,7,1977,2008,HdBoard,144.0,1040.0,150500.0
1030,1030,190,RH,7082,Inside,2fmCon,8,1916,1995,VinylSd,0.0,686.0,160000.0
419,419,20,RL,8450,Inside,1Fam,6,1968,1968,VinylSd,0.0,1056.0,142000.0
1276,1276,60,RL,12936,CulDSac,1Fam,6,1972,1972,HdBoard,0.0,723.0,162000.0
2583,2583,85,RL,12150,CulDSac,1Fam,6,1979,1979,HdBoard,0.0,1001.0,NaN

In [11]:
#  MSZoning LotConfig BldgType Exterior1st
cat = ['MSZoning','LotConfig','BldgType','Exterior1st']
df[cat]

     MSZoning LotConfig BldgType Exterior1st
0          RL    Inside     1Fam     VinylSd
1          RL       FR2     1Fam     MetalSd
2          RL    Inside     1Fam     VinylSd
3          RL    Corner     1Fam     Wd Sdng
4          RL       FR2     1Fam     VinylSd
...       ...       ...      ...         ...
2914       RM    Inside    Twnhs     CemntBd
2915       RM    Inside   TwnhsE     CemntBd
2916       RL    Inside     1Fam     VinylSd
2917       RL    Inside     1Fam     HdBoard
2918       RL    Inside     1Fam     HdBoard

[2919 rows x 4 columns]