In [13]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("data.csv")

In [15]:
df.sample(10)

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
1525,1525,190,RL,13587,Inside,2fmCon,5,1958,1958,MetalSd,0.0,988.0,NaN
1036,1036,20,RL,12898,Inside,1Fam,5,2007,2008,VinylSd,0.0,1620.0,315500.0
2053,2053,70,RL,4882,Inside,1Fam,7,1937,1950,MetalSd,0.0,348.0,NaN
892,892,20,RL,8414,Inside,1Fam,8,1963,2003,HdBoard,0.0,1059.0,154500.0
2388,2388,20,RL,7450,Inside,1Fam,5,1956,1956,Wd Sdng,206.0,894.0,NaN
1889,1889,20,RL,10682,Inside,1Fam,6,1960,1971,HdBoard,0.0,1014.0,NaN
1062,1062,190,RM,13600,Inside,2fmCon,5,1900,1950,Wd Sdng,0.0,662.0,90000.0
783,783,85,RL,9101,Corner,1Fam,6,1978,1978,Plywood,0.0,1097.0,165500.0
269,269,20,RL,7917,Corner,1Fam,7,1976,1976,HdBoard,0.0,1143.0,148000.0
2666,2666,60,RL,10237,Inside,1Fam,5,2005,2006,VinylSd,0.0,728.0,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [17]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [ ]:
df['SalePrice']